@import "../css/normalize.css";
@import "../../assets/fonts/fontawesome-free-5.12.0-web/css/all.min.css";
@import "../../assets/SF-Pro-Display/index.css";

//TODO Add table of contents

//!Typography

html {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 400;
}

.sitename {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 1.5rem;
}

.h1 {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 2rem;
}

a {
  color: inherit;
}

//!Effects

.blinking {
  animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blinking {
  animation: blink 2s infinite ease-in-out 1s;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

//!Components

header {
  height: 20px;
  * {
    float: left;
  }
  .header-nav .nav-item {
    padding: 10px 5px;
  }
}

.nav-item {
  list-style-type: none;
}
