@import "../css/normalize.css";
@import "../../assets/fonts/fontawesome-free-5.12.0-web/css/all.min.css";
@import "../../assets/SF-Pro-Display/index.css";

//TODO Add table of contents

:root {
  //*Color theme
  --common-text: #003c58;
  --saturated-text: #4a575e;
  --highlighted-text: #005c86;

  --dark-bg: #82d1ff;
  --common-bg: #d5f2ff;
  --light-bg: #ffffff;
  --btn-bg: var(--dark-bg);
  --btn-text: var(--common-text);
}

#root,
body {
  min-height: 100vh;
  box-sizing: border-box;
}

//!Typography

html {
  font-family: "SF Pro Display";
  font-size: 16px;
  font-weight: 400;
}

.sitename {
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 1.5rem;
}

.h1 {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 2rem;
}

a {
  color: inherit;
}

//!Effects

.blinking {
  animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blinking {
  animation: blink 2s infinite ease-in-out 1s;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

//!Components

header {
  height: 20px;
  * {
    float: left;
  }
  .header-nav .nav-item {
    padding: 10px 5px;
  }
}

.nav-item {
  list-style-type: none;
}

table {
  border-spacing: 2px 0;
  tr:first-child {
    td:first-child {
      border: none;
    }
    td {
      border: 1px solid black;
    }
  }
  tr:nth-child(2) {
    td {
      border-top: 1px solid black;
    }
  }
  tr:nth-child(n + 2) {
    height: 20px;
    position: relative;
    td:first-child {
      border: none;
      position: relative;
      top: 10px;
      border-collapse: none;
    }
    td {
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px dashed black;
    }
  }
}

.icon-btn {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
}

.horizontal-stack {
  & > * {
    float: left;
  }
  & + * {
    clear: both;
  }
}

.vertical-stack {
  & > * {
    display: block;
    float: none;
  }
}

.sidebar {
  float: right;
  background: var(--common-bg);
}

.task-card {
  height: 90px;
  width: 210px;
  background-color: var(--light-bg);
  padding: 10px;
  padding-left: 15px;
  margin: 5px;
  .title {
    font-weight: 700;
    margin: 0;
    background: var(--common-bg);
    padding: 5px;
  }
  .content {
    padding: 5px;
    & > * {
      padding: 0;
      margin: 0;
    }
  }
}

.task-avatar {
  height: calc(50px * var(--height));
  background-color: var(--light-bg);
  padding: 10px;
  padding-left: 15px;
  .title {
    font-weight: 700;
    margin: 0;
    background: var(--common-bg);
    padding: 5px;
  }
  box-sizing: border-box;
}

.no-type-list {
  list-style-type: none;
}

.calendar {
  empty-cells: show;
  td {
    padding: 20px;
  }
}

.btn {
  color: var(--btn-text);
  background-color: var(--btn-bg);
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px 20px;
}

.fullwidth {
  width: 100%;
  box-sizing: border-box;
}

.fullheight {
  &-auto {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
  }
  &-hidden {
    height: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
  }
}

.calendar {
  & > .calendar-cell {
    height: 50px;
  }
}

.drag-highlight {
  border: red dashed 2px;
}

.calendar-cell {
  position: relative;
  border: 2px solid black;
  &.hidden {
    display: none;
  }
}

.form {
  .form-input-group {
    display: block;
    & > * {
      display: block;
    }
    margin: 10px 0;
  }
  .form-label {
    font-size: 1.2rem;
    color: var(--common-text);
  }
  .form-input,
  .form-textarea {
    border: 2px solid var(--saturated-text);
    color: var(--common-text);
    background-color: var(--light-bg);
    outline: none;
    font-size: 1.1rem;
    border-radius: 10px;
    &:focus {
      border: 2px solid var(--highlighted-text);
    }
    &::placeholder {
      color: var(--saturated-text);
    }

    width: 100%;
    box-sizing: border-box;
  }

  .form-textarea {
    resize: none;

    padding: 5px;
    height: calc(7.2rem + 10px);
  }

  .form-input {
    height: calc(1.2rem + 10px);
    padding: 5px;
  }
}
