@import '../css/normalize.css';
@import '../../assets/fonts/fontawesome-free-5.12.0-web/css/all.min.css';
@import '../../assets/SF-Pro-Display/index.css';

//TODO Add table of contents

:root {
  //*Color theme
  --dark-bg: #232323;
  --common-bg: #6d6d6d;
  --light-bg: #ffffff;
}

//!Typography

html {
  font-family: 'SF Pro Display';
  font-size: 16px;
  font-weight: 400;
}

.sitename {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 1.5rem;
}

.h1 {
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-size: 2rem;
}

a {
  color: inherit;
}

//!Effects

.blinking {
  animation: blink 1s infinite ease-in-out;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blinking {
  animation: blink 2s infinite ease-in-out 1s;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

//!Components

header {
  height: 20px;
  * {
    float: left;
  }
  .header-nav .nav-item {
    padding: 10px 5px;
  }
}

.nav-item {
  list-style-type: none;
}

table {
  border-spacing: 2px 0;
  tr:first-child {
    td:first-child {
      border: none;
    }
    td {
      border: 1px solid black;
    }
  }
  tr:nth-child(2) {
    td {
      border-top: 1px solid black;
    }
  }
  tr:nth-child(n + 2) {
    height: 20px;
    position: relative;
    td:first-child {
      border: none;
      position: relative;
      top: 10px;
      border-collapse: none;
    }
    td {
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px dashed black;
    }
  }
}

.icon-btn {
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
}

.horizontal-stack {
  & > * {
    float: left;
  }
  & + * {
    clear: both;
  }
}

.vertical-stack {
  & > * {
    display: block;
    float: none;
  }
}

.sidebar {
  float: right;
  background: var(--common-bg);
}

.task-card {
  height: 80px;
  width: 200px;
  background-color: var(--light-bg);
  padding: 10px;
  margin: 5px;
}

.calendar {
  empty-cells: show;
  td {
    padding: 20px;
  }
}
