{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "73",

          "esmodules": true
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["transform-class-properties"]
}
